%graph-segment {
	transition: stroke-dasharray 1s ease,
	stroke cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s,
	fill cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}

.jchart {
	width: 100%;
	height: 100%;

	&--body {
		width: 100%;
		height: 100%;
	}

	&--donut {
		&--ring {

		}

		&--hole {

		}

		&--segment {
			@extend %graph-segment;
		}
	}

	&--pie {
		&--segment {
			@extend %graph-segment;
		}
	}
}